body {
    background-color: #f1f0e7;
    font-family: 'Roboto';
}

textarea, input { outline: none; }

p {
    margin:0;
}

li {
    list-style-type: none;
}

#menu {
    background-color: white;
    border: 2px solid #a8a8a8;
    border-width: 0px 0px 3px 0px;
}

.logo-sm {
    width:32px;
    height:32px;
    margin-bottom:0.4em;
}

.logo-md {
    width:48px;
    height:48px;
}

.nav-item:hover {
    cursor: pointer;
}


#navbarTitre {
    color:black;
    font-size: 1.5em;  
    font-weight: bold;
}

.nav-link{
    color:black;
    font-size: 20px;
}

#boutonConnexion:hover {
    color:#fbc740;
}

#boutonInscription:hover {
    color: #e56997;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#titre {
    text-align: center;
    margin-top:15vh;
    padding-bottom:2em;
    color:black;
}

#titre > h1 {
    font-family: "Pacifico";
    font-size: 2.5em;
}

#listeContainer {
    width:75%;
    max-width: 500px;
    margin: 0 auto 15vh auto;
    display: flex;
    flex-flow: column nowrap;
}

@media screen and (min-width: 800px) {
    #listeContainer {
      width:60%;
      margin-left: auto;
      margin-right: auto;
    }
}

@media screen and (max-width: 500px) {
    #listeContainer {
      width:initial;
    }
  }


@keyframes sectionHover {
    from {transform: rotate(0deg);}
    to {transform: rotate(-1deg);}
}

.section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin:0 1em 1em 1em;
    padding:1.2em;
    border: 2px solid #fbc740;
    border-radius: 0.75em;
    user-select: none;

    background-color: #fbc740;

    transition:0.1s;
}

.tooltiptext{
    font-family: "Roboto";
    width: 50%;
    color: black;
    text-align: center;
    padding: 0.75em 0.75em;
    border-radius: 0.75em;
    visibility: hidden;
    position: absolute;
    top: 0em;
}

.section:hover .tooltiptext{
    visibility: visible;
    left: 105%; 
}

.favoris {
    background-color: #fbc740;
    border-color: #fbc740;
}

.disponible {
    background-color:  #bd97cb;
    border-color:  #bd97cb;
}

.encours {
    background-color:  #66d2d6;
    border-color: #66d2d6;
}

.termine {
    background-color:#e56997;
    border-color:  #e56997;
}

.nouvelle{
    background-color:#45cf4c;
    border-color:  #45cf4c;
}

.section:hover {
    cursor: pointer;
    animation-name: sectionHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    box-shadow: 0 0 40px 0 #1428551a;
}

.section > h1 {
    display: inline-block;
    margin:0;
    text-align: center;
    font-size: 1.5em;
    font-family: "Pacifico";
}

.section > h2 {
    display: inline-block;
    margin:0 0 0 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Robot";
}

.listeFavoris {
    display:none;
}

.listeDisponible {
    display:none;
}

.listeEncours {
    display:none;
}

.listeTermine {
    display:none;
}

.liste {
    margin:0 1em 1em 1em;
    padding:1em;
    border: 2px solid  white;
    border-radius: 0.75em;

    background-color: white;

    transition:0.5s;
}

.liste:hover {
    box-shadow: 0 0 40px 0 #1428551a;
}

.liste > h2 {
    font-size: 1.5em;
    font-family: "Pacifico";
    margin:0;
}

.info {
    display:flex;
    justify-content: space-between;

    color:#3f3f3f;
}

.info > h2 {
    font-size: 1.5em;
    font-family: "Pacifico";
    margin:0;
}

h3 {
    display: inline-block;
    align-items: center;
    margin:0;

    font-size: 1em;
}

.hl {
    display: inline-block;
    background-color:#a8ffc5;
    font-weight: bold;
    color:#1bb64f;
    padding:0.3em;
    border-radius: 0.4em;
}

img {
    height: 1em;
    margin:0 0 4px 0;
}

.listIcon {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.produits > p {
    font-size: 1.3em;
    margin-top: 0.5em;
}

.produits > img {
    margin:0 0.5em 4px 0;
}

.substituant {
    margin-top: 0em;
    display:inline-block;
    font-size: 1em;
    color:#838383;
}

.boutonListe {
    box-sizing: border-box;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
    font-weight: bold;
    height:3em;
    padding:0.5em;
    margin:3% auto 0 auto;
    border-radius: 1.5em;

    background-color:  #39e071;

    transition:0.5s;
}

.boutonListe > p {
    margin:0 0.5em;
    white-space: nowrap;
}

.boutonListe:hover {
    cursor: pointer;
    background-color: #23c258;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    padding:1.5em;

    min-height:1em;

    background-color: #5c5c5c;
    color:white;
}


footer > a {
    color:white;
    margin:1%;
}

footer > p {
    margin:0;
}

footer > a:hover {
    color:white
}

